body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.hero-container {
    background-color: #1F2937;
    padding: 0px 100px 100px 100px;
    text-align: center;
    color: white;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8; 
    margin: 0;
}

.hero {
    display: flex;
}

.logo {
    display: block;
    margin: auto 10px;
}

.nav {
display: flex;
justify-content: flex-end;
align-items: center;    
flex: 1;
margin-right: 50px;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
    margin: 0; 
    display: flex;  
}

.main-header {
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
    text-align: start;   
}

.hero-content {
    text-align: start; 
    padding: 20px;  
}

.placeholder {
    width: 100%;
    height: auto;
    max-width: 450px;
    margin: 20px auto;
}

.hero button {
    background-color: #3b82f6;
    color: #ffffff;
    border-radius: 10px;
    border-color: #3b82f6;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}

